#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.texter{
  transform: rotate(90deg);
}

.forum {
margin-right: 1rem;
}

.uppdrag {
  transform: rotate(90deg);
  margin-top: 2rem;
}

